.nav {
    margin-left: -14px;
    background: url(../page/pattern.svg);
}

.nav__item {
    display: inline-block;
    padding: 0 14px;
    line-height: 60px;
    color: #fff;
}

.link.nav__item:hover {
    color: #ff0;
}

.nav__item_active {
}
