.nav {
    position: fixed;
    z-index: 999;
    width: 100%;

    text-align: center;
    background: rgba(0, 0, 0, .6);
}

.nav__item {
    display: inline-block;
    margin: 0 2em;

    font-size: 20px;
    font-weight: normal;
}

.nav__item .link {
    display: block;
    padding: 10px 0 14px 0;
    color: #1db6ea;
}

.nav__item .link:hover {
    color: #fff;
}

.nav__item_current .link {
    color: #fff;
}
