.footer__inner {
    display: flex;
    justify-content: space-between;

    padding: 24px 40px;

    font-size: 14px;
    line-height: 22px;
}

.footer .link {
    color: #1f82cc;
    text-decoration: none;
}
