.footer {
    font-size: 12px;
    line-height: 26px;
    padding: 0 40px 4px 40px;
    background: #000;
    color: #fff;

}

.footer__column {
    float: left;
}

.footer__column_pos_right {
    float: right;
}
